<!DOCTYPE html >
{%extends 'customer_base.html'%}

{%block body_block%}
<div class="row mt-2">
  <div class="col-4">
  </div>
{%for item in items%}
  <div class="col-4 mt-2">
    <div class="card" style="width: 12rem;">
      <img src="{{item.mobile.image.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.mobile.mobile_name}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{item.mobile.price}}</li>
<!--        <li class="list-group-item">{{mobile.os}}</li>-->
<!--        <li class="list-group-item">{{mobile.brand}}</li>-->
<!--        <li class="list-group-item">{{mobile.memory}}</li>-->
<!--        <li class="list-group-item">{{mobile.specs}}</li>-->
      </ul>
      <div class="card-body">
        <a href="{%url 'placeorder' item.id item.mobile.id %}" class="card-link">Place Order</a>
      </div>
    </div>

  </div>
<div class="col-4">

</div>
</div>
{%endfor%}
{%endblock%}